@import "tailwindcss";

@font-face {
  	font-family: 'nunito';
  	src: local('nunito'), url('../app/fonts/Nunito-Regular.ttf') format('truetype');
}

* {
	font-family: 'nunito', sans-serif !important;
}

:root {
    --background: #0f172a;
    --panel: #1e293b;
    --border: #334155;
    --theme: #eebbc3;
    --text: #0f172a;
    --text2: #94a3b8;
    --text3: #f8fafc;
}

body {
  background: radial-gradient(circle at top, #11121a 0%, #090a0e 100%);
}

.theme-bg {
    background: linear-gradient(135deg, var(--theme), #cf8d98);
}

.btn-style {
    color: var(--text) !important;
    font-weight: bold !important;
    background-color: var(--theme) !important;
    transition: background-color 0.2s ease-in-out, transform 0.15s ease;
}

.btn-style:hover {
    background-color: #ffdce1 !important;
    transform: translateY(-1px);
}
