@import "tailwindcss";

:root {
    --theme: #1976d2;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
}

body {
    background: linear-gradient(0.25turn, #cee6ff, #eeeeee, #cee6ff);
}

.blue-bg {
    background: linear-gradient(0.25turn, #3c55c5, #4b82d4, #1976d2);
}